# Ignore dataset files
*.csv
archive (1)/

# Allow essential files
!requirements.txt
!threshold.txt

# Large model and data files (optional if using GitHub as storage, but good to know)
# hyper_elite_medium_model.pth

# Python environment and cache
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings and workspace
.vscode/
